*{
    margin: 0;
    padding: 0;
    outline: none;
    border:none;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background: radial-gradient(white, grey);
    font-family: 'Dancing Script', cursive;
}

.wrapper{
    width: 300px;
    height: 350px;
    margin: 0 auto;
    border: solid 5px black;
    border-radius: 20px;
    background: white;
}
.header{
    width: 100%;
    text-align: center;
    height: 50px;
    background: linear-gradient(grey, white);
    border-radius: 10px 10px 0 0;
    font-size: 25px;
    color:darkblue;
    
    padding-top: 10px
}

h1{
    border-bottom: dashed 2px black;
    display: block;
    height: 90%;
    width: 100%;
}

.wrap-list{
    height:85%;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
input[type="checkbox"]{
    position: relative;
    top: 14px;
    right: 12px;
    float: right;
}
input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    opacity: 0.3;
}

.list{
    list-style: none;
    opacity: 0.8;
}
.list li{
    width: 100%;
    float: left;
}
label{
    padding: 10px;
    float: left;
    width: 90%; 
}
.grey{
    background-color: rgba(50,50,50,0.1)
}