.nav-sidebar{
   margin: 70px -20px 20px 20px;
}

.nav-sidebar>li >a{
    padding: 20px 10px;
}

.main{
    margin-top: 70px;   
}

.placeholders{
    margin-top: 10px;
    margin-bottom: 30px;
}

.placeholder img{
    display: inline;
    border-radius: 50%
}